body {
  background-color: rgb(200, 238, 225);
  
}

/* Footer */
.footer {
  background: #cccaca;
  color: black;
  padding: 1em 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p {
  margin: 0;
}

/* Navbar */
.nav {
  background: #cccaca;
  color: black;
  padding: 2rem 1rem;
}

.enlacefooter {
  text-decoration: none;
}

/* Contacts Card */
.card {
  width: 45rem;

 
}